body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    margin: 0;
    flex-grow: 1;
}

.cards_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    margin: 100px auto;
    flex-grow: 10;
    height: 100%;
    width: 50%;
}

.flash_card {
    border-radius: 15px;
    transform-style: preserve-3d;  
    position: relative;
    background-color: transparent;
    transition: transform 0.8s;
    z-index: 10;
}

.flash_card_face--front, .flash_card_face--back {
    width: 100%;
    height: 100%;
    background-color: blue;
    position: absolute;
    border-radius: 15px;
    backface-visibility: hidden;
}

.flash_card_face--back {
    background-color: blueviolet;
    transform: rotateY(180deg);
}

.is_fliped {
    transform: rotateY(180deg);
}